DWBI_Practical_01_2023_Resources/CustomerAddress.txt
DWBI_Practical_01_2023_Resources/CustomerAddress.xlsx
DWBI_Practical_01_2023_Resources/Data Descriptions.xlsx
DWBI_Practical_01_2023_Resources/DateMaster.sql
DWBI_Practical_01_2023_Resources/SLIIT_RetailSourceDB.bak
DWBI_Practical_01_2023_Resources/SLIIT_RetailSourceDB.sql
*.vsidx
